body, html{
    height: 100%;
    margin: 0%;
    padding: 0%;
}

a{
    color:inherit !important;
}

nav{
    color: white !important;
}

#ABOUT{
    padding-top: 50px;
    padding-bottom: 50px;
}

#PROJECT{
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
}

#HOBBY{
    padding-top: 50px;
    padding-bottom: 50px;
}

#CONTACT{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #252934
}

.header{
    background-image: url(../image/background.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer{
    background-color: #1B242F;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.header-bar{
    margin: 25px auto 75px auto;
    width: 70px;
    height: 4px;
    background: #444649;
}

.header-bar-white{
    margin: 25px auto 75px auto;
    width: 70px;
    height: 4px;
    background: white;
}

.content{
    width: 1150px;
    margin: 0px auto;
    padding: 0%;
}

.section-header{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    color: #444649
}

.section-header-white{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    color: white;
}

.h1-name{
    color: white;
    font-family: Raleway, "Open Sans", sans-serif;
    font-size: 80px;
}

.h2-position{
    color: white;
    font-family: Raleway, "Open Sans", sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.profile-picture{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 80px;
    margin-bottom: 60px;
    display: block;
    float: left;
}

.intro-p{
    font-size: 120%;
}

.skill-p{
    font-size:140%;
    margin: 0 0 0 30px;
}

.icon{
    font-size:80px;
    color: white;
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}